@model EditAccountModel

@{
    ViewData["Title"] = "Edit Account";
    bool duplicateUsernameError = (bool)ViewData["DuplicateUsernameError"]!;
    bool basicInformationChangeError = (bool)ViewData["BasicInformationChangeError"]!;
    bool basicInformationChangeSuccess = (bool)ViewData["BasicInformationChangeSuccess"]!;
    bool passwordMismatchError = (bool)ViewData["PasswordMismatchError"]!;
    bool passwordChangeError = (bool)ViewData["PasswordChangeError"]!;
    bool passwordChangeSuccess = (bool)ViewData["PasswordChangeSuccess"]!;
    bool duplicateEmailError = (bool)ViewData["DuplicateEmailError"]!;
    bool friendNotificationSentSuccessfully = (bool)ViewData["FriendNotificationSentSuccessfully"]!;
    bool friendNotificationSentUnsuccessfully = (bool)ViewData["FriendNotificationSentUnsuccessfully"]!;
    bool userWasNotFound = (bool)ViewData["UserWasNotFound"]!;
    bool friendRemovalSuccess = (bool)ViewData["FriendRemovalSuccess"]!;
    bool friendRemovalFailure = (bool)ViewData["FriendRemovalFailure"]!;
    bool userAlreadyFriend = (bool)ViewData["UserAlreadyFriend"]!;
    bool selfFriendRequest = (bool)ViewData["SelfFriendRequest"]!;
}

@if (duplicateUsernameError || basicInformationChangeError || passwordChangeError || passwordMismatchError || duplicateEmailError || 
  userWasNotFound || friendNotificationSentUnsuccessfully || friendRemovalFailure || userAlreadyFriend || selfFriendRequest)
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                @if (duplicateUsernameError)
                {
                    <div>There is another user with the given username.</div>
                }
                else if (basicInformationChangeError)
                {
                    <div>
                        Something went wrong while updating your account's basic information.
                        Please try again or contact us through our email kinnaskonstantinos0@gmail.com.
                    </div>
                }
                else if (passwordChangeError)
                {
                    <div>
                        Something went wrong while updating your account password.
                        Please try again or contact us through our email kinnaskonstantinos0@gmail.com.
                    </div>
                }
                else if (passwordMismatchError)
                {
                    <div>
                        The current password you provided is not the password of the account.
                        Please try again or contact us through our email kinnaskonstantinos0@gmail.com.
                    </div>
                }
                else if (duplicateEmailError)
                {
                    <div>There is another user with the given email.</div>
                }
                else if(userWasNotFound){
                    <div>The user was not found.</div>
                }
                else if(userAlreadyFriend){
                    <div>That user is already in your friends list.</div>
                }
                else if (selfFriendRequest)
                {
                    <div>You can not send a friend request to yourself.</div>
                }
                else if (friendNotificationSentUnsuccessfully)
                {
                    <div>
                        Unfortunately a friend notification could not be sent to the user.
                        Please try again or contact us through our email kinnaskonstantinos0@gmail.com.
                    </div>
                }
                else if (friendRemovalFailure)
                {
                    <div>
                        Unfortunately the chosen user could not be removed from your friend list.
                        Please try again or contact us through our email kinnaskonstantinos0@gmail.com.
                    </div>
                }
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}
else if (basicInformationChangeSuccess || passwordChangeSuccess || friendNotificationSentSuccessfully || friendRemovalSuccess)
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                @if (basicInformationChangeSuccess)
                {
                    <div>Your account's basic information has been updated successfully!</div>
                }
                else if(passwordChangeSuccess){
                    <div>Your account password has been updated successfully!</div>
                }
                else if (friendNotificationSentSuccessfully)
                {
                    <div>A friend notification has successfully been sent to the chosen user account!</div>
                }
                else if(friendRemovalSuccess)
                {
                    <div>The chosen user has successfully been removed from your friend list!</div>
                }
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

<div method="post" class="shadow p-4" style="background-color:white;">
    <h2 class="text-center mb-4">User Account</h2>
    <div class="row">
        <form class="col-4" asp-controller="Account" asp-action="ChangeBasicAccountSettings">
            <div class="row">
                <h4 class="text-center">Basic Account Settings </h4>
                <div class="col-12 mb-4 mt-1">
                    <label class="form-label" asp-for="@Model.AccountBasicSettingsViewModel.Username">
                        <i class="fa-solid fa-user me-2"></i>Account Username
                    </label>
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="@Model.AccountBasicSettingsViewModel.Username"
                               value="@Model.AccountBasicSettingsViewModel.Username" readOnly>
                        <a class="btn btn-outline-primary" id="usernameButton"
                           onclick="toggleInputField('AccountBasicSettingsViewModel_Username', 'usernameButton')">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                    <span asp-validation-for="@Model.AccountBasicSettingsViewModel.Username" class="text-danger"></span>
                </div>
                <div class="col-12 mb-4 mt-1">
                    <label class="form-label" asp-for="@Model.AccountBasicSettingsViewModel.PhoneNumber">
                        <i class="fa-solid fa-phone me-2"></i>Account Phone Number
                    </label>
                    <div class="input-group">
                        <input type="tel" class="form-control" asp-for="@Model.AccountBasicSettingsViewModel.PhoneNumber"
                               value="@Model.AccountBasicSettingsViewModel.PhoneNumber" readOnly>
                        <a class="btn btn-outline-primary" id="phoneNumberButton"
                           onclick="toggleInputField('AccountBasicSettingsViewModel_PhoneNumber', 'phoneNumberButton')">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                    <span asp-validation-for="@Model.AccountBasicSettingsViewModel.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary">Confirm Changes</button>
                </div>
            </div>
        </form>
        <div class="col-4">
            <div class="row">
                <h4 class="text-center">Sensitive Account Settings</h4>
                <div class="col-12 mb-4 mt-1">
                    <label class="form-label" asp-for="@Model.ChangePasswordModel.OldPassword">
                        <i class="fa-solid fa-lock me-2"></i>Account Password
                    </label>
                    <div class="input-group">
                        <input type="password" class="form-control" asp-for="@Model.ChangePasswordModel.OldPassword"
                               value="@Model.ChangePasswordModel.OldPassword" readOnly>
                        <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                    <span asp-validation-for="@Model.ChangePasswordModel.OldPassword" class="text-danger"></span>
                </div>
                <div class="col-12 mb-4 mt-1">
                    <label class="form-label" asp-for="@Model.ChangeEmailModel.OldEmail">
                        <i class="fa-solid fa-envelope me-2"></i>Account Email
                    </label>
                    <div class="input-group">
                        <input type="email" class="form-control" asp-for="@Model.ChangeEmailModel.OldEmail"
                               value="@Model.ChangeEmailModel.OldEmail" readOnly>
                        <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#changeEmailModal">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                    <span asp-validation-for="@Model.ChangeEmailModel.OldEmail" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mb-3">
                <div class="offset-2 col-8 text-center">
                    <h4 class="">Friends List</h4>
                </div>
                <div class="col-2 text-end">
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFriendModal"><i class="fa-solid fa-user-plus"></i></a>
                </div>
            </div>
            <ul class="list-group">
                @foreach (AppUser appUser in Model.UsersFriends)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>@appUser.UserName</span>
                        <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removeFriendModal-@appUser.Id" aria-label="Delete">
                            <i class="fa-solid fa-user-minus"></i>
                        </a>
                        <div class="modal fade" id="removeFriendModal-@appUser.Id" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="removeFriendModalTitle-@appUser.Id">Remove Friend Dialog</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="text-align: left;">
                                        Are you sure you want to remove the user from your friend list?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                                        <form asp-action="RemoveFriend" asp-controller="Account">
                                            <input name="friendId" value="@appUser.Id" hidden />
                                            <button type="submit" class="btn btn-danger ms-1">Confirm</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<!-- Modal to Change Email Address -->
<div class="modal fade" id="changeEmailModal" tabindex="-1">
    <form id="changeEmailForm" method="post" asp-controller="Account" asp-action="RequestChangeAccountEmail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeEmailTitle">Change Email Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">
                    <div class="container">
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </symbol>
                        </svg>
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                            <div>
                                This action will log you out of your account and it will deactivate it until you confirm your new email.<br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label asp-for="ChangeEmailModel.OldEmail" class="form-label">Old Email</label>
                                <input asp-for="ChangeEmailModel.OldEmail" type="text" class="form-control" readOnly>
                            </div>
                            <div class=" col-12 mb-3">
                                <label asp-for="ChangeEmailModel.NewEmail" class="form-label">New Email</label>
                                <input asp-for="ChangeEmailModel.NewEmail" type="text" class="form-control">
                                <span asp-validation-for="ChangeEmailModel.NewEmail" class="text-danger" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal to Change Password -->
<div class="modal fade" id="changePasswordModal" tabindex="-1">
    <form id="changePasswordForm" method="post" asp-controller="Account" asp-action="ChangePassword">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordTitle">Change Password Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label asp-for="ChangePasswordModel.OldPassword" class="form-label">Old Password</label>
                                <input asp-for="ChangePasswordModel.OldPassword" value="" class="form-control" type="password">
                                <span asp-validation-for="ChangePasswordModel.OldPassword" class="text-danger"></span>
                            </div>
                            <div class=" col-12 mb-3">
                                <label asp-for="ChangePasswordModel.NewPassword" class="form-label">New Password</label>
                                <input asp-for="ChangePasswordModel.NewPassword" class="form-control" type="password" />
                                <span asp-validation-for="ChangePasswordModel.NewPassword" class="text-danger"></span>
                            </div>
                            <div class=" col-12 mb-3">
                                <label asp-for="ChangePasswordModel.ConfirmNewPassword" class="form-label">Confirm New Password</label>
                                <input asp-for="ChangePasswordModel.ConfirmNewPassword" class="form-control" type="password">
                                <span asp-validation-for="ChangePasswordModel.ConfirmNewPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal To Add Friend-->
<div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog" aria-labelledby="addFriendModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFriendModalLabel">Add Friend Dialog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="AddFriendChoiceLarge">
                    <div class="d-flex justify-content-between align-content-center">
                        <h5 class="mt-2">Choose Invitation Method:</h5>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-dark" onclick="showForm('username')"><i class="fa-solid fa-user me-1"></i>Username</button>
                            <button type="button" class="btn btn-primary" style="min-width:95px;" onclick="showForm('email')"><i class="fa-solid fa-envelope me-1"></i>Email</button>
                        </div>
                    </div>
                </div>

                <form asp-controller="Account" asp-action="AddFriend" id="addFriendFormUsername" class="mt-4 mb-3">
                    <div class="form-group mb-2">
                        <input class="form-label" name="email" id="hiddenEmail" type="hidden" value="" />
                        <label for="username" class="control-label"><i class="fa-solid fa-user me-2"></i>Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter The Username Of The Account" required />
                    </div>
                </form>
                <form asp-controller="Account" asp-action="AddFriend" id="addFriendFormEmail" class="mt-4 mb-3" style="display:none;">
                    <div class="form-group ">
                        <input class="form-label" name="username" id="hiddenUsername" type="hidden" value="" />
                        <label for="email" class="control-label"><i class="fa-solid fa-envelope me-2"></i>Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter The Email Of The Account" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" form="addFriendFormUsername" id="submitButton" onclick="clearOtherForm()">Confirm</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        //edit button functionality
        function toggleInputField(inputId, buttonId) {
            let inputField = document.getElementById(inputId);
            let button = document.getElementById(buttonId);

            if (inputField && button) {
                if (inputField.readOnly) {
                    inputField.readOnly = false;
                    button.innerHTML = '<i class="fa-solid fa-check"></i>';
                } else {
                    inputField.readOnly = true;
                    button.innerHTML = '<i class="fa-solid fa-pencil"></i>';
                }
            }
        }
s
        function showForm(method) {
            const formUsername = document.getElementById('addFriendFormUsername');
            const formEmail = document.getElementById('addFriendFormEmail');
            if (method === 'username') {
                formUsername.style.display = 'block';
                formEmail.style.display = 'none';
                submitButton.setAttribute('form', 'addFriendFormUsername');
            } else if (method === 'email') {
                formUsername.style.display = 'none';
                formEmail.style.display = 'block';
                submitButton.setAttribute('form', 'addFriendFormEmail');
            }
        }

        //clears the other form show that there will not be any conflicts
        function clearOtherForm() {
            const formUsername = document.getElementById('addFriendFormUsername');
            if (formUsername.style.display === 'block') {
                document.getElementById('hiddenEmail').value = "";
            }
            else {
                document.getElementById('hiddenUsername').value = "";
            }
        }
    </script>
}

